<%- collection = c(Collection.find_by_slug(:accessories)) %>

<%= render partial: 'home/now' %>

<%= render partial: 'country' %>

<br/>

<%= form_tag products_path, method: :post do%>
  <%= submit_tag 'Add Product' %>
<% end %>
<h2>All product</h2>
<%- c(Product).all.each do |product| %>
  <%- if collection.products.include?(product) %>
    <%= form_tag remove_product_from_collections_path(collection, product_id: product.id), method: :delete, class: 'form-inline' do%>
      <div class="form-group">
        <%= link_to "Product #{c(product).id}", product_path(product)  %>
        <%= submit_tag 'Remove Product from Collection', class: "btn btn-default" %>
      </div>
    <% end %>
  <%- else %>
    <%= form_tag add_product_to_collections_path(collection, product_id: product.id), method: :post do%>
      <div class="form-group">
        <%= link_to "Product #{c(product).id}", product_path(product)  %>
        <%= submit_tag 'Add Product to Collection' %>
      </div>
    <% end %>
  <% end %>
  <br/>
<% end %>

<br/>
<h2>Accessories</h2>
<%- collection.products.order('id asc').each do |product| %>
  <h3>Product #<%= c(product).id %></h3>
<% end %>

<%= render partial: 'home/token' %>
