<%- c(Product).all.each do |product| %>
<h2><%= c(product).id %> <%= Time.now.to_s(:db) %></h1>
<% end %>

<%= form_tag products_path, method: :post do%>
  <%= submit_tag 'Add Product' %>
<% end %>

<br/>

<%= render partial: 'country' %>

<script type="text/javascript">
  if(!Cookies.get('csrf_token')) {
    jQuery.get('/sessions/status', function(data) {
      console.log(Cookies.get('csrf_token'));
    });
  };
</script>
