<%= render partial: 'home/now' %>

<%= render partial: 'country' %>

<br/>

<h2>Product #<%= @product.id %></h2>

<%= form_for @product do |f| %>
  <%= f.submit %>
<% end %>

<br/>

<%= link_to "Products", products_path %>

<%= render partial: 'home/token' %>
