<h1><%= @product.id %> <%= Time.now.to_s(:db) %></h1>

<%= form_for @product do |f| %>
  <%= f.submit %>
<% end %>

<br/>

<%= form_tag countries_change_path, method: :post do%>
  <%= submit_tag 'Change Country' %>
<% end %>

<script type="text/javascript">
  if(!Cookies.get('csrf_token')) {
    jQuery.get('/sessions/status', function(data) {
      console.log(Cookies.get('csrf_token'));
    });
  };
</script>
